.App {
	padding: 1% 5%;
}

.column-items {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	justify-content: space-between;
	grid-gap: 20px;
}

.item {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 10px;
}

.item > img {
	width: 200px;
	height: 200px;
}
